
{{> header }}
{{> navbar }}

<div class="container">
    <div class="overflow-auto">
  <div class="row">
    <div class="col">
        <h1>Shadowhunters </h1>
     La serie es protagonizada por Katherine McNamara, Dominic Sherwood, Alberto Rosende, Emeraude Toubia, Matthew Daddario, Harry Shum, Jr. e Isaiah Mustafa. La trama gira en torno a Clary Fray, una adolescente que el día de su cumpleaños descubre que no es lo quien ella realmente cree, y que vive en un mundo lleno de criaturas míticas, incluidas los cazadores de sombras, seres mitad ángeles y mitad humanos que protegen al mundo cazando demonios. A lo largo del desarrollo, tendrá que lidiar con los repentinos cambios en su vida, que incluyen el secuestro de su madre por parte de Valentine Morgenstern, un cazador de sombras corrompido que busca crear una nueva élite de cazadores de sombras, a quien ella tendrá que detener
    <div class="col">
      <img src="https://cde.laprensa.e3.pe/ima/0/0/2/0/8/208573.jpg" class="img-thumbnail">
    </div>
  </div>
</div>
</div>
</div>

  {{> footer }}